@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
body{
    overflow: hidden;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}
.haveAcces button{
    color:#fff;  
    background-color:hsl(278, 68%, 11%);
    border-radius: 20px;
    border:none; 
    padding: 0.5rem 3rem;
}
.haveAcces p{
    color:hsl(0, 0%, 72%);
    white-space: nowrap;
}
.haveAcces svg{
    opacity:0;
    animation: 1s animationAcces forwards;
}
@keyframes animationAcces {
    0% {
        opacity: 0;
        transform:scale(10);
        rotate:360deg; 
    }
    100% {
        opacity:1; 
    }
}
@media only screen and (min-width:1000px){
    .haveAcces {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }
    .row-1 {
        color:hsl(0, 0%, 100%); 
        position: absolute; 
        left: 0; 
        right: 70vw; 
        top:0; 
        bottom: 0;
        background-image:url(./images/bg-main-desktop.png);
        z-index: 1;
    }
    .row-1 .frontCard{
        display:inline-block; 
        background-image:url(./images/bg-card-front.png); 
        background-repeat: no-repeat; 
        background-size:100%; 
        display:inline-block; 
        position: relative; 
        top: 5vw; 
        left: 10vw; 
        bottom: 0; 
        width:350px;
        height:175px; 
    }
    .row-1 span:first-child {
        padding: 25px;
    }
        .numbers {
            position:absolute; 
            bottom:25%; 
            font-size:1.5em; 
        }
        .name {
            position:absolute;
            left: 1.5em;
            bottom: 1em; 
        }
        .exp_date {
            position:absolute;
            right: 2em;
            bottom: 1em; 
        }
    .row-1 .backCard{
        background-image:url(./images/bg-card-back.png); 
        background-repeat: no-repeat; 
        display:inline-block;
        background-size:100%;  
        position: absolute; 
        top: 25vw; 
        left: 12.5vw; 
        bottom: 0; 
        width:400px;
        height:225px; 
    }
    /* Info inside back card */
        .cvc{
            position:absolute; 
            top:45%; 
            right: 45px; 
        }
    .row-2 {
        width: 70vw;
        position: absolute;
        left:30vw; 
        right:0; 
        top:0; 
        bottom: 0;
        z-index: -1;
    }
     .form {
        position:absolute; 
        top: 5vw; 
        width:30vw; 
        left: 40%; 
        right: 50%; 
        display:flex; 
        gap: 1rem; 
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }
    
}
@media screen and (max-width:999px) and (min-width:500px){
    .haveAcces {
        width:100%;
        height: 100%;
        margin:0; 
        text-align: center; 
    }
    body {
        overflow-y: scroll;
        height: 200vh; 
    }
    *{
        margin: 0; 
    }
    input {
        outline: solid  1px hsl(270, 3%, 87%); 
    }
    input:focus {
        outline:solid 1px hsl(249, 99%, 64%); 
    }
    .row-1 {
        position:relative; 
        top:0; 
        left:0; 
        right:0; 
        margin:0; 
        height: 45vh; 
        color:hsl(0, 0%, 100%); 
        background-image:url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover; 
        z-index: 1;
    }
    .row-1 .frontCard *{
        white-space: nowrap;
    }
    .row-1 .frontCard {
        background-image:url(./images/bg-card-front.png); 
        background-repeat: no-repeat; 
        background-size:100%; 
        width:325px; 
        height: 179px;
        max-width: 400px;
        min-height:180px; 
        position:absolute; 
        top: 40%; 
        left: 5%;
        z-index: 2;   
    }
        .row-1 span:first-child {
            padding: 5px; 
        }
            .numbers {
                position:absolute; 
                top:50%; 
                left:10px; 
                font-size:30px; 
            }
            .name {
                position:absolute;
                top: 35%; 
                left:10px;
            }
            .exp_date {
                position:absolute; 
                padding: 5px; 
                left:75%; 
                bottom: 0; 
            }
    .row-1 .backCard{
        z-index: 0; 
        background-image:url(./images/bg-card-back.png); 
        background-repeat: no-repeat; 
        background-size:100%; 
        width:325px; 
        height: 179px;
        position: absolute; 
        top: 10%; 
        right:3%;  
    }
        .cvc{
            position:absolute; 
            top:45%; 
            right: 45px; 
        }
    .row-2{
        margin-top: 50px; 
        height: 100%;
    }
    .row-2 .form{
        width: 90%;
        margin: 0 auto;  
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}
.First, .Second, .Third{
    margin-right: auto;
    width:100%; 
}
.row-2 .form .First input, .row-2 .form .Second input, .row-2 .form .Third input{
    display: block; 
    text-indent: 1rem;
    padding:10px 0; 
    margin:0; 
    width: 100%;
    border-radius:5px; 
    border: solid  1px hsl(270, 3%, 87%); 
    font-size:20px; 
}
.row-2 .form .First label:first-of-type, .row-2 .form .Second label:first-of-type, .row-2 .form .Third label{
    font-size: 10px; 
}
.small_inputs {
    position:relative; 
    width:100%; 
    display:flex; 
    justify-content: space-between; 
    gap: 1rem; 
}
.small_inputs input {
    padding: 5px 0; 
    border: solid  1px hsl(270, 3%, 87%); 
    margin: 0; 
    width:20%; 
    border-radius:5px;
    font-size: 15px;  
    text-align: center;
}
.small_inputs input:last-of-type {
    width:80%;
    text-align: left; 
}
 #CVC {
    padding-left: 5px;
 }
.Submit {
    width:100%;
    height: 100%; 
    margin-top: 25px; 
}
.Submit button{
    border:none; 
    width: 100%; 
    height:100%; 
    background-color:hsl(249, 99%, 64%); 
    color:#fff; 
    padding: 10px 0; 
    border-radius: 5rem; 
}
#error_month, #error_year, #error_cvc{
    position: absolute; 
    width:20%; 
    top: 100%; 
    font-size:10px; 
}
#error_year {
    left: 20%; 
}
#error_cvc {
    left:40%; 
}